@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --text-light: #1d1c1d;
  --text-highlight: #ff5c00;
  --icon-color: #7d7373;
  --border-color: rgba(255, 255, 255, 0.2);
} */

:root {
  --text-highlight: #ff5c00;
  --backround: 255 255 255;
  --app-gray-950: 249 250 251;
  --app-gray-900: 243 244 246;
  --app-gray-800: 229 231 235;
  --app-gray-700: 209 213 219;
  --app-gray-600: 156 163 175;
  --app-gray-500: 107 114 128;
  --app-gray-400: 75 85 99;
  --app-gray-300: 55 65 81;
  --app-gray-200: 31 41 55;
  --app-gray-100: 17 24 39;
  --app-gray-50: 3 7 18;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #1d1c1d;
    --text-light: #ffffff;
    --text-highlight: #ff5c00;
    --icon-color: #7d7373;
    --border-color: rgba(255, 255, 255, 0.2); */
    --text-highlight: #ff5c00;
    --background: 3 7 18;
    --app-gray-950: 17 24 39;
    --app-gray-900: 31 41 55;
    --app-gray-800: 55 65 81;
    --app-gray-700: 75 85 99;
    --app-gray-600: 107 114 128;
    --app-gray-500: 156 163 175;
    --app-gray-400: 209 213 219;
    --app-gray-300: 229 231 235;
    --app-gray-200: 243 244 246;
    --app-gray-100: 249 250 251;
    --app-gray-50: 255 255 255;
  }
}

body {
  color: rgb(var(--app-gray-50));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.hideScrollBar::-webkit-scrollbar {
  display: none;
}
.mouse {
  width: 50px;
  height: 90px;
  border: 3px solid var(--border-color);
  border-radius: 60px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--text-highlight);
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

/* location */
.location {
  background-color: rgb(var(--app-gray-900));
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg) translate(0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.location::before {
  content: "";
  display: flex;
  width: 10px;
  height: 10px;
  background-color: rgb(var(--app-gray-500));
  border-radius: 50%;
}

.wave-animation {
  animation: wave 1s linear infinite both;
  -webkit-animation: wave 1s linear infinite;
}
@keyframes wave {
  0% {
    /* transform: scale(0); */
    opacity: 0;
  }
  50% {
    /* transform: scale(1); */
    opacity: 1;
  }
}
